WebClient/web/WEB-INF/wsdl/localhost_8080/Soen487A2LoanSoapService/loanService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://loanService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://loanService/">

<xs:element name="CreateLoanBook" type="tns:CreateLoanBook"/>

<xs:element name="CreateLoanBookResponse" type="tns:CreateLoanBookResponse"/>

<xs:element name="addMember" type="tns:addMember"/>

<xs:element name="addMemberResponse" type="tns:addMemberResponse"/>

<xs:element name="borrowBook" type="tns:borrowBook"/>

<xs:element name="borrowBookResponse" type="tns:borrowBookResponse"/>

<xs:element name="deleteLoanBook" type="tns:deleteLoanBook"/>

<xs:element name="deleteLoanBookResponse" type="tns:deleteLoanBookResponse"/>

<xs:element name="deleteMember" type="tns:deleteMember"/>

<xs:element name="deleteMemberResponse" type="tns:deleteMemberResponse"/>

<xs:element name="getListMember" type="tns:getListMember"/>

<xs:element name="getListMemberResponse" type="tns:getListMemberResponse"/>

<xs:element name="getLoanDetailByID" type="tns:getLoanDetailByID"/>

<xs:element name="getLoanDetailByIDResponse" type="tns:getLoanDetailByIDResponse"/>

<xs:element name="getLoanListByBookName" type="tns:getLoanListByBookName"/>

<xs:element name="getLoanListByBookNameResponse" type="tns:getLoanListByBookNameResponse"/>

<xs:element name="getLoanListByMemberID" type="tns:getLoanListByMemberID"/>

<xs:element name="getLoanListByMemberIDResponse" type="tns:getLoanListByMemberIDResponse"/>

<xs:element name="getMember" type="tns:getMember"/>

<xs:element name="getMemberIdByName" type="tns:getMemberIdByName"/>

<xs:element name="getMemberIdByNameResponse" type="tns:getMemberIdByNameResponse"/>

<xs:element name="getMemberResponse" type="tns:getMemberResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="returnBook" type="tns:returnBook"/>

<xs:element name="returnBookResponse" type="tns:returnBookResponse"/>

<xs:element name="showIsReturn" type="tns:showIsReturn"/>

<xs:element name="showIsReturnResponse" type="tns:showIsReturnResponse"/>

<xs:element name="updateLoan" type="tns:updateLoan"/>

<xs:element name="updateLoanResponse" type="tns:updateLoanResponse"/>

<xs:element name="updateMember" type="tns:updateMember"/>

<xs:element name="updateMemberResponse" type="tns:updateMemberResponse"/>

<xs:complexType name="getMember">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLoanBook">
<xs:sequence>
<xs:element name="borrowBookId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteLoanBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberIdByName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMemberIdByNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MySOAPFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMember">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMember">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getListMember">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getListMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLoan">
<xs:sequence>
<xs:element name="BookId" type="xs:int"/>
<xs:element name="BookName" type="xs:string" minOccurs="0"/>
<xs:element name="PersonBorrow" type="xs:int"/>
<xs:element name="DateOfBorrowing" type="xs:string" minOccurs="0"/>
<xs:element name="ReturnDate" type="xs:string" minOccurs="0"/>
<xs:element name="isReturn" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateLoanResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showIsReturn">
<xs:sequence>
<xs:element name="borrowBookId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showIsReturnResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMember">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteMemberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanListByMemberID">
<xs:sequence>
<xs:element name="memberID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanListByMemberIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanDetailByID">
<xs:sequence>
<xs:element name="borrowBookId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanDetailByIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateLoanBook">
<xs:sequence>
<xs:element name="borrowID" type="xs:int"/>
<xs:element name="bookName" type="xs:string" minOccurs="0"/>
<xs:element name="personBorrow" type="xs:int"/>
<xs:element name="borrowDate" type="xs:string" minOccurs="0"/>
<xs:element name="returnDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CreateLoanBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnBook">
<xs:sequence>
<xs:element name="bookID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrowBook">
<xs:sequence>
<xs:element name="Bookid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrowBookResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanListByBookName">
<xs:sequence>
<xs:element name="bookName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoanListByBookNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>