WebClient/web/WEB-INF/wsdl/localhost_8080/Soen487A2LoanSoapService/loanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loanService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://loanService/" name="loanService">
<types>
<xsd:schema>
<xsd:import namespace="http://loanService/" schemaLocation="http://localhost:8080/Soen487A2LoanSoapService/loanService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMember">
<part name="parameters" element="tns:getMember"/>
</message>
<message name="getMemberResponse">
<part name="parameters" element="tns:getMemberResponse"/>
</message>
<message name="deleteLoanBook">
<part name="parameters" element="tns:deleteLoanBook"/>
</message>
<message name="deleteLoanBookResponse">
<part name="parameters" element="tns:deleteLoanBookResponse"/>
</message>
<message name="borrowBook">
<part name="parameters" element="tns:borrowBook"/>
</message>
<message name="borrowBookResponse">
<part name="parameters" element="tns:borrowBookResponse"/>
</message>
<message name="updateLoan">
<part name="parameters" element="tns:updateLoan"/>
</message>
<message name="updateLoanResponse">
<part name="parameters" element="tns:updateLoanResponse"/>
</message>
<message name="CreateLoanBook">
<part name="parameters" element="tns:CreateLoanBook"/>
</message>
<message name="CreateLoanBookResponse">
<part name="parameters" element="tns:CreateLoanBookResponse"/>
</message>
<message name="returnBook">
<part name="parameters" element="tns:returnBook"/>
</message>
<message name="returnBookResponse">
<part name="parameters" element="tns:returnBookResponse"/>
</message>
<message name="showIsReturn">
<part name="parameters" element="tns:showIsReturn"/>
</message>
<message name="showIsReturnResponse">
<part name="parameters" element="tns:showIsReturnResponse"/>
</message>
<message name="updateMember">
<part name="parameters" element="tns:updateMember"/>
</message>
<message name="updateMemberResponse">
<part name="parameters" element="tns:updateMemberResponse"/>
</message>
<message name="deleteMember">
<part name="parameters" element="tns:deleteMember"/>
</message>
<message name="deleteMemberResponse">
<part name="parameters" element="tns:deleteMemberResponse"/>
</message>
<message name="addMember">
<part name="parameters" element="tns:addMember"/>
</message>
<message name="addMemberResponse">
<part name="parameters" element="tns:addMemberResponse"/>
</message>
<message name="getListMember">
<part name="parameters" element="tns:getListMember"/>
</message>
<message name="getListMemberResponse">
<part name="parameters" element="tns:getListMemberResponse"/>
</message>
<message name="getMemberIdByName">
<part name="parameters" element="tns:getMemberIdByName"/>
</message>
<message name="getMemberIdByNameResponse">
<part name="parameters" element="tns:getMemberIdByNameResponse"/>
</message>
<message name="getLoanListByBookName">
<part name="parameters" element="tns:getLoanListByBookName"/>
</message>
<message name="getLoanListByBookNameResponse">
<part name="parameters" element="tns:getLoanListByBookNameResponse"/>
</message>
<portType name="loanService">
<operation name="getMember">
<input wsam:Action="http://loanService/loanService/getMemberRequest" message="tns:getMember"/>
<output wsam:Action="http://loanService/loanService/getMemberResponse" message="tns:getMemberResponse"/>
</operation>
<operation name="deleteLoanBook">
<input wsam:Action="http://loanService/loanService/deleteLoanBookRequest" message="tns:deleteLoanBook"/>
<output wsam:Action="http://loanService/loanService/deleteLoanBookResponse" message="tns:deleteLoanBookResponse"/>
</operation>
<operation name="borrowBook">
<input wsam:Action="http://loanService/loanService/borrowBookRequest" message="tns:borrowBook"/>
<output wsam:Action="http://loanService/loanService/borrowBookResponse" message="tns:borrowBookResponse"/>
</operation>
<operation name="updateLoan">
<input wsam:Action="http://loanService/loanService/updateLoanRequest" message="tns:updateLoan"/>
<output wsam:Action="http://loanService/loanService/updateLoanResponse" message="tns:updateLoanResponse"/>
</operation>
<operation name="CreateLoanBook">
<input wsam:Action="http://loanService/loanService/CreateLoanBookRequest" message="tns:CreateLoanBook"/>
<output wsam:Action="http://loanService/loanService/CreateLoanBookResponse" message="tns:CreateLoanBookResponse"/>
</operation>
<operation name="returnBook">
<input wsam:Action="http://loanService/loanService/returnBookRequest" message="tns:returnBook"/>
<output wsam:Action="http://loanService/loanService/returnBookResponse" message="tns:returnBookResponse"/>
</operation>
<operation name="showIsReturn">
<input wsam:Action="http://loanService/loanService/showIsReturnRequest" message="tns:showIsReturn"/>
<output wsam:Action="http://loanService/loanService/showIsReturnResponse" message="tns:showIsReturnResponse"/>
</operation>
<operation name="updateMember">
<input wsam:Action="http://loanService/loanService/updateMemberRequest" message="tns:updateMember"/>
<output wsam:Action="http://loanService/loanService/updateMemberResponse" message="tns:updateMemberResponse"/>
</operation>
<operation name="deleteMember">
<input wsam:Action="http://loanService/loanService/deleteMemberRequest" message="tns:deleteMember"/>
<output wsam:Action="http://loanService/loanService/deleteMemberResponse" message="tns:deleteMemberResponse"/>
</operation>
<operation name="addMember">
<input wsam:Action="http://loanService/loanService/addMemberRequest" message="tns:addMember"/>
<output wsam:Action="http://loanService/loanService/addMemberResponse" message="tns:addMemberResponse"/>
</operation>
<operation name="getListMember">
<input wsam:Action="http://loanService/loanService/getListMemberRequest" message="tns:getListMember"/>
<output wsam:Action="http://loanService/loanService/getListMemberResponse" message="tns:getListMemberResponse"/>
</operation>
<operation name="getMemberIdByName">
<input wsam:Action="http://loanService/loanService/getMemberIdByNameRequest" message="tns:getMemberIdByName"/>
<output wsam:Action="http://loanService/loanService/getMemberIdByNameResponse" message="tns:getMemberIdByNameResponse"/>
</operation>
<operation name="getLoanListByBookName">
<input wsam:Action="http://loanService/loanService/getLoanListByBookNameRequest" message="tns:getLoanListByBookName"/>
<output wsam:Action="http://loanService/loanService/getLoanListByBookNameResponse" message="tns:getLoanListByBookNameResponse"/>
</operation>
</portType>
<binding name="loanServicePortBinding" type="tns:loanService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteLoanBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="borrowBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLoan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CreateLoanBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showIsReturn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListMember">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMemberIdByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoanListByBookName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="loanService">
<port name="loanServicePort" binding="tns:loanServicePortBinding">
<soap:address location="http://localhost:8080/Soen487A2LoanSoapService/loanService"/>
</port>
</service>
</definitions>